ArtSizeReader_Testing/*.aps
ArtSizeReader_Testing/*.eto
ArtSizeReader_Testing/*.user
ArtSizeReader_Testing/ClientBin
ArtSizeReader_Testing/GeneratedArtifacts
ArtSizeReader_Testing/[Bb]in
ArtSizeReader_Testing/[Dd]ebug
ArtSizeReader_Testing/[Rr]elease
ArtSizeReader_Testing/_Pvt_Extensions
ArtSizeReader_Testing/obj
